.mainContainer {
  background-color: #f1f1f1;
  height: 1400px;
  position: absolute;
  top: 530px;
  z-index: -999999;
}

.hibiscusImg {
  position: absolute;
  left: 93.77%;
  right: -6.95%;
  bottom: 90.19%;
}

.palmImg {
  position: absolute;
  left: -1%;
  top: 24%;
}

.containerGroup {
  top: 413px;
  position: relative;
  width: 80%;
}

.container {
  background-color: #ffffff;
  width: 320px;
  height: auto;
}

.container img {
  width: 100%;
  padding-top: 10px;
}

.container.priceContainer {
  width: 100%;
}

.container h3 {
  padding-top: 10px;
  font-size: 20px;
}

.priceContainer p {
  color: #ffaf00;
  font-weight: 600;
}

.priceContainer small {
  color: #878787;
  font-weight: 600;
}

.groupTitle {
  position: absolute;
  top: 350px;
  left: 560px;
  font-size: 43px;
  font-weight: 600;
}