body{
position: relative;
width: 1440px;
height: 1432px;
background: #F1F1F1;
}

.main{
position: absolute;
width: 1018px;
height: 1194px;
left: 211px;
top: 140px;
}
.mainContainer {
    background-color: #f1f1f1;
    height: 1400px;
    position: absolute;
    top: 530px;
    z-index: -999999;
}

.title{
/* position: absolute; */
font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 66px;
display: flex;
align-items: center;
color: #000000;
}

.subtitle{
/* position: absolute; */
width: 99px;
height: 33px;
left: 228px;
top: 206px;
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;
color: #A8A8A8;
}

.background{
margin-top: 10px;
display: flex;
justify-content: space-between;
overflow: auto;
}
.auth{
width: 329.73px;
height: 167.64px;
left: 899.27px;
top: 639.48px;
background: linear-gradient(0deg, rgba(120, 120, 120, 0.5), rgba(120, 120, 120, 0.5));
border-radius: 5px;
}
.text {
position: absolute;
/* width: 31px;
height: 33px; */
/* left: 1046px;
top: 706px; */
margin-top: -100px;
margin-left: 150px;
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.containerInfo{
    display: flex;
    justify-content: space-between;
left: 219px;
top: 898px;
}
.just{
width: 125.76px;
height: 25px;
left: 257.54px;
top: 920px;
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 25px;
display: flex;
align-items: center;
color: #000000;
}
.boxinfo{
width: 164.29px;
left: 219px;
top: 898px;
}
.boxinfodetail{
display: flex;
flex-direction: row;
}
.icon{
left: 42.68%;
right: 55.63%;
top: 64.25%;
bottom: 34.08%;
}
.info{
width: 140.97px;
height: 24px;
left: 219px;
top: 854px;
font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
color: #000000;
}

.subinfo{
width: 101.42px;
height: 18px;
left: 219px;
top: 898px;
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 13px;
line-height: 18px;
display: flex;
align-items: center;
color: #A8A8A8;
}

.description{
left: 219px;
top: 1024px;
font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 19px;
text-align: justify;
color: #A8A8A8;
}
.idr{
font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;
color: #FFAF00;
}
.person{
width: 96px;
height: 33px;
left: 423px;
top: 1135px;
font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}
.border{
width: 1035px;
height: 0px;
left: 211px;
top: 1186px;
border: 2px solid rgba(183, 183, 183, 0.5);
}
.containerdown{
    display: flex;
    justify-content: space-between;
}
.buttonCount{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.divButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.increment{
    width: 26.61px;
    height: 26.61px;
    left: 1114px;
    top: 1138px;
    background: #FFAF00;
    border-radius: 10px;
    border: none;
}
.iconCount{
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
}
.divTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.total{
width: 69px;
height: 33px;
margin-right: 600px;
font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}
.count{
    margin: 0 5px;
}
.book{
    display: flex;
    justify-content: flex-end;
}
.hibiscusImg {
    position: absolute;
    left: 93.77%;
    right: -3.31%;
    top: 33.32%;
    bottom: 53.5%;
    opacity: 0.2;
    transform: matrix(-0.2, -0.96, 1.01, -0.11, 0, 0);
  }
  
.palmImg {
    position: absolute;
    left: -7.9%;
    right: 91.1%;
    top: 42.22%;
    bottom: 45.55%;  
    transform: matrix(0.99, 0.08, -0.16, 1, 0, 0);
}
